/*
css\style.css
Folhas de estilo do template do site.
*/

/* Importa fonte Robot do Google Fonts 
Referências: https://fonts.google.com
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
Importa a biblioteca de ícones FontAwesome
Referências: https://fontawesome.com
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css');

/* Reset Geral */

*{
    box-sizing: border-box;
    outline: none;

}

/*Elementos raiz*/
html,
 body{
    /* Reset nas margens e enchimentos */
    position: relative; /* Permite usar height nos elementos div */
    margin: 0;
    padding: 0;
    height: 100%;

    /*Fonte padrão e tamanho*/
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    fomt-size: 16px;
    /*
    A linha acima ativa a unidade de mendida "rem' onde: 
    1rem = 16px
    .5rem ou 0.5rem = 8px
    .25rem ou 0.25rem = 4px
    2rem = 32px
    3rem = 48px
    */
}

/*
Reset dos titulos e parágrafos
trocando margin por padding
*/
h1,h2,h3,h4,h5,h6, p {
    margin:0;
    padding: .5rem;
}

a { 
    color: steelblue;
    text_descoration: none;

}

a.houver {
    color: orangered;
}

/*Tela de fundo*/
body{
   /* background: linear-grandient (to right, blue, red, cyan);;*/
   background-image: url("../img/fundo.png");
   background-color: black;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

/* Elemento Wrap*/
#wrap { 
    max-width: 1080p;
    margin: auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

}

/* Imagem responsiva*/
.azul {
    width: auto;
    max-width: 100%;
    height: auto;

}

/* Cabeçalho da pagina*/

/* header é filho direto de #wrap (>) 
parent > dirct-child */

#wrap > header{
    background-color: orange;
    border-radius: .5rem;
    margin: .5rem;

}
#wrap > header img{
    display: block;
    width: 90px;
    border-radius: 50%;
    margin: .5rem;
}

/* Referências https://www.w3schools.com/css/css3_flexbox.asp */
.logotitle {
    display: flex;
    align-items: center;
    
}
.logotiple h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* Experimental: adicinar uma borda ao texto */
    -webkit-text-stroke: .75px white;
}

/*Formulario de pesquisa */
.header-search {
    PADDING: 1rem;
    display: flex;
}
/*Filho do formulario*/
.header.search input,
.header-search button { 
    font-family: inherit;
    flex-size: 1;
    border: none;


}
/*Só com o campo de pesquisa*/
.header-search input {
    padding: .5rem;
    flex-grow: 1;
    border-radius: .3rem 0 0 .3rem;
}

.reader-search botton {
    padding: .5rem;
    border-radius: 0 .3rem .3rem 0;
    cursor: pointer;
}
/* Menu principal*/
#wrap > nav {
    background-color: black;
}
